body {
    font-family: helvetica, Arial, sans-serif;
    padding: 10px;
}

form {
    align-content: center;
    text-align: center;
}

form > div {
    margin: auto;
    width: 50%;
    align-self: center;
}

form > div > input {
    display: block;
    margin: 15px;
}

.search-bar, .advanced-bar {
    width: 25%;
    padding: 10px;
    padding-left: 40px;
    border-radius: 25px;
    margin: 20px auto;
    background: url(src/search-bar-img.png) no-repeat 3px 1px;
    background-size: contain;
    border: 2px solid black;
    transition: all 0.5s;
    font-size: 15px;
}

.search-bar:focus {
    width: 50%;
    border-bottom: 5px solid gray;
}


.search-button, .lucky-button {
    font-size: large;
    padding: 5px;
    width: 180px;
    border-radius: 5px;
    margin: 5px 10px;
    transition: all 0.2s
}

.search-button:hover, .lucky-button:hover {
    background-color: darkgray;
}

.search-logo {
    width: 50%;
}

.container {
    text-align: center;
}

a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: all 0.5s;
    border-radius: 10px;
}

a:hover {
    background-color: grey;
    color: white;
}

.nav {
    text-align: right;
}

#advanced-logo {
    width: 40%;
}
 
#advanced-container > form {
    text-align: left;
    margin-left: 5%;
}

#advanced-container > form > input {
    background: none;
    padding-left: 10px;
    border-radius: 5px;
    width: 60%;
}

#advanced-container > form > div > #advanced-button {
    background-color: rgb(0, 115, 255);
    color: white;
    position: absolute;
    margin-left: 13%;
}

#advanced-container > form > div > #advanced-button:hover {
    background-color: blue;
}

#field1 {
    margin-left: 100px;
}

#field2 {
    margin-left: 25px; 
}

#field3 {
    margin-left: 85px;
}

#field4 {
    margin-left: 60px;
}